.pagination {
    margin-top: 20px;
  }
  
  .page-item.active .page-link {
    background-color: #ffc107;
    border-color: #ffc107;
    color: black;
  }
  
  .page-link {
    color: #007bff;
    cursor: pointer;
  }
  
  .page-link:hover {
    background-color: #f8f9fa;
    color: black;
  }
  